[submodule "KazukiSuzukiNekoKun"]
	path = SakuyaNekoKun
	url = https://github.com/Project-Kemonomimi-Inc/SakuyaNekoKun.git
	branch = main
[submodule "TsukiumiNekoKun"]
	path = SakutoNekoKun
	url = https://github.com/Project-Kemonomimi-Inc/SakutoNekoKun.git
	branch = main
[submodule "OukaNekoChan"]
	path = YuukaNekoChan
	url = https://github.com/Project-Kemonomimi-Inc/YuukaNekoChan.git
	branch = main
[submodule "HimariKitsuneChan"]
	path = HimariKitsuneChan
	url = https://github.com/Project-Kemonomimi-Inc/HimariKitsuneChan.git
	branch = main
[submodule "HarukaNekoChan"]
	path = AyakaNekoChan
	url = https://github.com/Project-Kemonomimi-Inc/AyakaNekoChan.git
